includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    bootstrapFiles:
        - vendor/squizlabs/php_codesniffer/autoload.php
        - vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
        - vendor/symplify/easy-coding-standard/vendor/scoper-autoload.php
    parallel:
        maximumNumberOfProcesses: 2
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method .* has parameter .* with no value type specified in iterable type (array|iterable).#'
        - '#Method .* return type has no value type specified in iterable type (array|iterable).#'
        - '#Property .* type has no value type specified in iterable type (array|iterable).#'
    excludePaths:
        - tests/*/Fixture/*
