<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Output">
            <directory>tests/Output</directory>
        </testsuite>
        <testsuite name="PHPStan">
            <directory>tests/PhpStan</directory>
        </testsuite>
        <testsuite name="Rector">
            <directory>tests/Rector</directory>
        </testsuite>
        <testsuite name="Sniffs">
            <directory>tests/Sniffs</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
