<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        bootstrap="tests/bootstrap.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Output">
            <directory>tests/Output</directory>
        </testsuite>
        <testsuite name="PHPStan">
            <directory>tests/PHPStan</directory>
        </testsuite>
        <testsuite name="Rector">
            <directory>tests/Rector</directory>
        </testsuite>
        <testsuite name="ECS">
            <directory>tests/Sniffs</directory>
            <directory>tests/Output</directory>
        </testsuite>
    </testsuites>
</phpunit>
