includes:
    - phpstan_parallel_settings.php

services:
    -
        class: EonX\EasyQuality\PhpStan\ThrowExceptionMessageRule
        tags: [phpstan.rules.rule]
        arguments:
            exceptionInterface: \EonX\EasyErrorHandler\Interfaces\Exceptions\TranslatableExceptionInterface
            validPrefixes:
                - exceptions.
