includes:
    - %currentWorkingDirectory%/vendor/jangregor/phpstan-prophecy/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/config/phpstan/eonx.neon

parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
        - %currentWorkingDirectory%/vendor/symplify/easy-coding-standard/vendor/scoper-autoload.php
        - %currentWorkingDirectory%/vendor/autoload.php
    level: 10
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    stubFiles:
        - %currentWorkingDirectory%/stubs/PHP_CodeSniffer/Exceptions/RuntimeException.php
        - %currentWorkingDirectory%/stubs/PHP_CodeSniffer/Files/File.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    excludePaths:
        - %currentWorkingDirectory%/tests/*/Fixture/*
