includes:
    - %currentWorkingDirectory%/vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
        - %currentWorkingDirectory%/vendor/symplify/easy-coding-standard/vendor/scoper-autoload.php
        - %currentWorkingDirectory%/vendor/autoload.php
    level: 9
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Cannot call method get\(\) on null.#'
            path: %currentWorkingDirectory%/src/PhpMetricsChecker/Report/SearchReporter.php
        -
            message: '#Access to an undefined property object::\$ccnMethodMax.#'
            path: %currentWorkingDirectory%/src/PhpMetricsChecker/Report/SearchReporter.php
        -
            message: '#Access to an undefined property object::\$efferentCoupling.#'
            path: %currentWorkingDirectory%/src/PhpMetricsChecker/Report/SearchReporter.php
    excludePaths:
        - %currentWorkingDirectory%/tests/*/Fixture/*
