name: PHP-CI
on:
    push:

defaults:
    run:
        working-directory: ./

jobs:
    composer:
        runs-on: ubuntu-latest
        timeout-minutes: 60
        strategy:
            matrix:
                php: ['8.4']
        name: Install composer dependencies
        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none

            -   run: composer --version

            -   name: Get the cached Composer dependencies
                id: cache-composer
                uses: actions/cache@v4
                with:
                    path: vendor
                    key: ${{ matrix.php }}-composer-${{ hashFiles('composer.lock') }}

            -   name: Install dependencies
                if: steps.cache-composer.outputs.cache-hit == false
                run: |
                    composer install --prefer-dist --no-progress --no-scripts
    coding-standards-and-tests:
        needs: composer
        runs-on: ubuntu-latest
        timeout-minutes: 60
        strategy:
            fail-fast: false
            matrix:
                php: ['8.4']
                actions:
                    - {name: "ECS checks", run: make check-ecs}
                    - {name: "Rector checks", run: make check-rector}
                    - {name: "PHPStan checks", run: make check-phpstan}
                    - {name: "Output module tests", run: make test-output}
                    - {name: "PHPStan module tests", run: make test-phpstan}
                    - {name: "Rector module tests", run: make test-rector}
                    - {name: "Sniffs module tests", run: make test-sniffs}
                    - {name: "Security audit", run: make check-security}
        env:
            EONX_EASY_QUALITY_JOB_SIZE: 20
            EONX_EASY_QUALITY_MAX_NUMBER_OF_PROCESS: 32
            EONX_EASY_QUALITY_TIMEOUT_SECONDS: 120
        name: ${{ matrix.actions.name}} (${{ matrix.php }})
        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none

            -   name: Get the cached Composer dependencies
                uses: actions/cache@v4
                with:
                    path: vendor
                    key: ${{ matrix.php }}-composer-${{ hashFiles('composer.lock') }}

            -   name: Run ${{ matrix.actions.name }}
                run: ${{ matrix.actions.run }}
